<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panel de Coordinador - Sistema de Donaciones UABC</title>
    <link rel="stylesheet" href="admin.css">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        #logo h2 {
            font-weight: bold;
            text-shadow: 1px 1px 1px #000;
            color: #385835;
        }

        header {
            background-color: #fff;
            color: #385835;
            padding: 10px;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        header h1 {
            font-size: 20px;
            margin: 0;
        }

        nav {
            background-color: #385835;
            color: #fff;
            padding: 6px;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
        }

        nav li {
            margin: 0 8px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            transition: background-color 0.3s, color 0.3s;
            padding: 8px 16px;
            border-radius: 8px;
        }

        nav a:hover {
            color: #385835;
            background-color: #febe10;
        }

        section {
            padding: 10px;
            flex: 1;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
        }

        section h1 {
            font-size: 24px;
            color: #385835;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        .donaciones-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            overflow-x: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Añadido: sombra a la tabla de donaciones */
        }

        .donaciones-table th, .donaciones-table td {
            border: 1px solid #385835;
            padding: 12px;
            text-align: center;
            white-space: nowrap;
        }

        .donaciones-table th {
            background-color: #385835;
            color: #fff;
            font-weight: bold;
        }

        .donaciones-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .donaciones-table tr:nth-child(odd) {
            background-color: #e0e0e0;
        }

        .donaciones-table td.estado-aceptado {
            color: #4caf50; /* Color verde para el estado "Aceptado" */
        }

        .donaciones-table td.estado-en-espera{
            color: #ff9800; /* Color naranja para el estado "En espera" */
        }

        footer {
            background-color: #22461f;
            color: #fff;
            text-align: center;
            padding: 6px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        /* Estilos para los botones */
        button {
            background-color: #febe10;
            border-radius: 8px;
            padding: 8px 16px;
            color: #FFF;
            font-size: 16px;
            font-weight: bold;
            text-shadow: 1px 1px 1px #000;
            border: none;
            cursor: pointer; /* Agrega un cursor al botón para indicar que es interactivo */
        }

         /* Estilos adicionales para los botones */
        #realizar-corte-btn {
            margin-bottom: 10px;
            margin-left: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Añadido: sombra a la tabla de donaciones */
        }

        #aceptar-btn,
        #cancelar-btn {
            margin-top: 10px;
            margin-right: 10px;
            align-self: flex-end;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Añadido: sombra a la tabla de donaciones */
        }

        button:disabled {
            background-color: #ccc; /* Cambia el color de fondo de los botones deshabilitados */
            cursor: not-allowed; /* Cambia el cursor para indicar que el botón no está disponible */
            opacity: 0.7; /* Cambia la opacidad para indicar visualmente que el botón está deshabilitado */
        }

        .donaciones-table tr.selected {
            background-color: #febe10; /* Cambia el color de fondo de las filas seleccionadas */
        }
    </style>
</head>
<body>

<header>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <img src="https://lh7-us.googleusercontent.com/hzDuv_OleoVquRLfJpXKKm2fCDjPydMRPv3DNZkU_AZdMdsUxabV9mP4C7qr1xqBlo4cJSok-oZap6HRD9tyqNb7-oXEJkzcO3BT00PtTxGzX6RJ3E7rxHrMsrJY4i9eKuRuo_jszT88IsaQ09d9erU" width="34" height="45" />
            <a href="/#inicio" style="text-decoration: none; margin-left: 10px;" id="logo">
                <h2>UABC</h2>
            </a>
        </div>
        <h2 style="text-align: center; flex: 1; font-size: 18px;">Panel de Coordinador</h2>
    </div>
</header>

<nav>
    <div style="display: flex; align-items: center;">
        <p style="margin-right: 12px; font-weight: bold; font-size: 14px;">Nombre de Coordinador</p> <!-- Nombre del coordinador autenticado -->
    </div>
    <ul style="list-style: none; display: flex; justify-content: flex-end;">
        <li><a href="/coordi/perfil">PERFIL</a></li>
        <li><a href="/coordi">DONACIONES</a></li>
        <li><a href="/coordi/cortes">CORTES</a></li>
        <li><a href="#salir">SALIR</a></li>
    </ul>
</nav>

<section id="donaciones">
    <h1>Tabla de Donaciones</h1>
    <button id="realizar-corte-btn" onclick="habilitarBotones()">Realizar Corte</button>
    <table class="donaciones-table">
        <tr>
            <th>ID</th>
            <th>Nombre del Donante</th>
            <th>Unidad Académica</th>
            <th>Carrera</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Estado</th>
            <!-- en espera, aceptado-->
        </tr>
        <tr>
            <td>1</td>
            <td>Donante 1</td>
            <td>Facultad de Ingenieria</td>
            <td>Ingeniero en computación</td>
            <td>$100.00</td>
            <td>2023-11-02</td>
            <td class="estado-en-espera">En espera</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Donante 2</td>
            <td>Facultad de Ingenieria</td>
            <td>Ingeniero en computación</td>
            <td>$50.00</td>
            <td>2023-11-02</td>
            <td class="estado-aceptado">Aceptado</td>
        </tr>
    </table>
    <button id="aceptar-btn" disabled>Aceptar</button>
    <button id="cancelar-btn" disabled onclick="deshabilitarBotones()">Cancelar</button>
</section>

<footer>
    <p>&copy; 2023 All rights reserved - UABC</p>
</footer>

<script>
    function habilitarBotones() {
        // Habilita los botones "Aceptar" y "Cancelar"
        document.getElementById("aceptar-btn").disabled = false;
        document.getElementById("cancelar-btn").disabled = false;
        // Habilita la selección de filas en la tabla
        let filas = document.querySelectorAll('.donaciones-table tr');
        filas.forEach(fila => {
            fila.addEventListener('click', seleccionarFila);
        });
    }
    function deshabilitarBotones() {
        // Habilita los botones "Aceptar" y "Cancelar"
        document.getElementById("aceptar-btn").disabled = true;
        document.getElementById("cancelar-btn").disabled = true;
        // Deshabilita la selección de filas en la tabla
        let filas = document.querySelectorAll('.donaciones-table tr');
        filas.forEach(fila => {
            fila.removeEventListener('click', seleccionarFila);
            fila.classList.remove('selected');
        });
    }
    function seleccionarFila() {
        // Cambia la clase de la fila para indicar que está seleccionada
        this.classList.toggle('selected');
    }

</script>

</body>
</html>
