<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de donaciones UABC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="signin.css">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
        }

        header {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 18px;
        color: #385835; 
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
        z-index: 10;
        }
        #logo h2 {
            font-weight: bold;
            text-shadow: 1px 1px 1px #000; /* Define la sombra: desplazamiento horizontal, desplazamiento vertical, difuminación y color */
            color: #385835;
        }
        #menu ul {
            list-style: none;
            display: flex;
        }
        #menu li {
            margin-right: 20px;
        }
        #menu a {
            text-decoration: none;
            color: #385835; /* Color de los enlaces */
        }

        footer {
            background-color: #22461f; /* Color de fondo del encabezado */
            padding: 20px;
            color: #ffffff; /* Color del texto en el encabezado */
            text-align: center;
            position: relative;
        }

        table {
            border-collapse: collapse; 
            width: 100%; 
            background-color: #FFF;
            margin-top: 30px;
        }

        select {
            width: 50%; 
            text-align: center;
            height: 40px;
            border: 3px solid #45a049;
            background-color: #22461f;
            border-radius: 20px;
            color: #ffffff;
        }

        option {
            background-color: #45a049;
            color: #ffffff;
            border-radius: 20px;
        }

        table td {
            padding: 5.5px;
            vertical-align: center;
            border: 9px solid #22461f;
            color: #091308;
        }

        #btn-cerrar-sesion {
            position: absolute;
            right: 30px;
            top: 50%;
            width: 15%;
            font-size: 23px;
            font-weight: bold;
            text-shadow: 0px 0px 1px #000;
            transform: translateY(-50%);
            background-color: #febe10;
            color: #FFFFFF;
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }

            #file-input-1,
            #file-input-2 {
                display: none;
            }

            #custom-button-1,
            #custom-button-2 {
                display: inline-block;
                padding: 10px 15px;
                font-size: 20px;
                cursor: pointer;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 15px;
            }

            #file-label-1,
            #file-label-2 {
                margin-top: 10px;
                text-align: center;
            }

            #custom-button-1:hover,
            #custom-button-2:hover {
                background-color: #45a049;
            }

            #custom-button-1.dragover,
            #custom-button-2.dragover {
                border: 3px dashed #2f6d31;
            }

            .boton-deshabilitado {
                background-color: #ccc !important;
                cursor: not-allowed;
                opacity: 0.5;
            }
    </style>
</head>
<body>
  <header>
    <div style="display: flex;">
    <img src="https://lh7-us.googleusercontent.com/hzDuv_OleoVquRLfJpXKKm2fCDjPydMRPv3DNZkU_AZdMdsUxabV9mP4C7qr1xqBlo4cJSok-oZap6HRD9tyqNb7-oXEJkzcO3BT00PtTxGzX6RJ3E7rxHrMsrJY4i9eKuRuo_jszT88IsaQ09d9erU" width="34" height="45" />
    <a href="/#inicio" style="text-decoration: none; margin-left: 10px;" id="logo">
        <h2>UABC</h2>
    </a>
    </div>
    <nav id="menu">
      <ul>
        <li><a href="/#inicio">INICIO</a></li>
        <li><a href="/#acerca">ACERCA DE</a></li>
        <li><a href="/#donacion">HAZ UNA DONACIÓN</a></li>
      </ul>
    </nav>
  </header>

<div style="background-image: url('https://lh7-us.googleusercontent.com/GGIqYNad1JLTsXi3x2Ru-kSZvoYBMBPxJOLPlg-19bVPRVZmL8TpskFtjqSJ6okQifLq9QI1QRjP79y1-TQasrfiXG5IDZ8GxTLe6Z2dzR7cIbLRiFMzkDmOy41l75V8JkG6rl2YWCghtcFedC_TkKw'); background-repeat: repeat;">
  <div style="background-color: rgba(214, 227, 213, 0.5); padding: 100px;">
     <div style="display: flex; justify-content: center; margin-top: 50px; ">
                <div style="background-color: #22461f; text-align: center; padding: 18px; color: #ffffff; border-radius: 20px; width: 50%; text-shadow: .3px .3px .3px #000; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)">
                    <h4><strong>1. Envía tu donativo con los siguientes datos de transferencia bancaria.</br></strong></h3>
                    <hr style="width: 400px; border: .5px solid #FFF;"> <!-- Línea separadora horizontal -->    
                    <table>
                    <tr>
                        <td><strong>Banco:</strong></td>
                        <td>Banco Santander (México) S.A.</td>
                    </tr>
                    <tr>
                        <td><strong>Beneficiario:</strong></td>
                        <td>Universidad Autónoma de Baja California</td>
                    </tr>
                    <tr>
                        <td><strong>Cuenta:</strong></td>
                        <td>65501399913</td>
                    </tr>
                    <tr>
                        <td><strong>CLABE Interbancaria:</strong></td>
                        <td>014020655013999134</td>
                    </tr>
                    <tr>
                        <td><strong>TAX ID:</strong></td>
                        <td>UAE5702287S5</td>
                    </tr>
                    <tr>
                        <td><strong>Código Swift:</strong></td>
                        <td>BMSXMXMM</td>
                    </tr>
                    <tr>
                        <td><strong>Domicilio:</strong></td>
                        <td>Avenida Álvaro Obregón Sin Número Colonia Nueva C.P.21100</td>
                    </tr>
                    <tr>
                        <td><strong>Ciudad:</strong></td>
                        <td>Mexicali, Baja California</td>
                    </tr>
                    <tr>
                        <td><strong>País:</strong></td>
                        <td>México</td>
                    </tr>
                    </table>

                    <h4 style="margin-top: 45px"><strong>2. Selecciona una carrera de ingeniería que deseas donar:</strong></h3>
                    <hr style="width: 400px; border: .5px solid #FFF;"> <!-- Línea separadora horizontal -->

                    <select id="carreras" name="carreras">
                        <option value="civil">Ingeniería en Computación</option>
                        <option value="civil">Ingeniería Civil</option>
                        <option value="informatica">Ingeniería Informática</option>
                        <option value="mecanica">Ingeniería Mecánica</option>
                        <option value="electrica">Ingeniería Eléctrica</option>
                        <option value="quimica">Ingeniería Química</option>
                    </select>

                    <form action="http://localhost:3001/procesar/imagen" method="POST" enctype="multipart/form-data">
                        <!-- Punto 2: Sube tu comprobante de transferencia bancaria -->
                        <h4 style="margin-top: 45px"><strong>3. Sube tu comprobante de transferencia bancaria.</strong></h3>
                        <hr style="width: 400px; border: .5px solid #FFF;"> <!-- Línea separadora horizontal -->
                        
                        <input type="file" id="file-input-1" name="file-input-1" accept="image/*" />
                        <label for="file-input-1" id="custom-button-1" ondragover="handleDragOver(event)" ondragleave="handleDragLeave()" ondrop="handleDrop(event)">
                            Examina
                            <br />
                            <img src="https://lh7-us.googleusercontent.com/lvkjIrQD41XP1_cmsHzSAwAFnEah6I8zlhOojPxvCaoO0kjZ_FY5M51zwdiSHw_QucSem6ieOFdr7xXgRyzPiae6fCHXTrUxCgwhFSGHZiP4_nh5LUEEwZk3j0jfzxDNDcE1QtRsbNGNEJMG7wc2NW4" alt="Icono Subir Archivo" width="75" height="75" />
                            <br />
                            <span id="file-label-1">O arrastra archivos aquí</span>
                        </label>

                        <!-- Punto 3: Datos para facturar (opcional) -->
                        <h4 style="margin-top: 45px"><strong>4. Sube tus datos para facturar (opcional).</h3>
                        <hr style="width: 400px; border: .5px solid #FFF;"> <!-- Línea separadora horizontal -->
                        
                        <input type="file" id="file-input-2" accept="image/*" />
                        <label for="file-input-2" id="custom-button-2" ondragover="handleDragOver(event)" ondragleave="handleDragLeave()" ondrop="handleDrop(event)">
                            Examina
                            <br />
                            <img src="https://lh7-us.googleusercontent.com/lvkjIrQD41XP1_cmsHzSAwAFnEah6I8zlhOojPxvCaoO0kjZ_FY5M51zwdiSHw_QucSem6ieOFdr7xXgRyzPiae6fCHXTrUxCgwhFSGHZiP4_nh5LUEEwZk3j0jfzxDNDcE1QtRsbNGNEJMG7wc2NW4" alt="Icono Subir Archivo" width="75" height="75" />
                            <br />
                            <span id="file-label-2">O arrastra archivos aquí</span>
                        </label>

                        <!-- Punto 4: Verificar -->                        
                        <h4 style="margin-top: 45px"><strong>5. Acepta y envía el comprobante.</h3>
                        <hr style="width: 400px; border: .5px solid #FFF;"> <!-- Línea separadora horizontal -->                      
                        <div>
                            <label>
                                <input type="checkbox" id="acepto" name="acepto" style="transform: scale(1.5); margin-right: 10px;" onchange="verificarAcepto()">
                                Acepto enviar mi comprobante de <br>pago y datos de facturación.
                            </label>
                        </div>
                        <div style="margin-top: 35px; ">                                           
                            <button type="submit" id="enviarBoton" style="background-color: #febe10; border-radius: 20px; padding: 12px 30px; color: #FFF; font-size: 23px; font-weight: bold; text-shadow: 1px 1px 1px #000; border: none; width: 60%;" disabled class="boton-deshabilitado">Enviar comprobante</button>
                        </div>
                    </form>
                </div>
           </div>
    </div>
</div>
  <footer>
    <p>&copy; 2023 All rights reserved - UABC</p>
    <form action="/logout" method="POST">
        <button id="btn-cerrar-sesion" type="submit">Cerrar sesión</button>
    </form>
  </footer>

    <script>
    const fileInput1 = document.getElementById('file-input-1');
    const fileLabel1 = document.getElementById('file-label-1');
    const customButton1 = document.getElementById('custom-button-1');

    fileInput1.addEventListener('change', handleFileSelect1);

    function handleFileSelect1() {
        const files = fileInput1.files;
        if (files.length > 0) {
            fileLabel1.textContent = files[0].name;
        } else {
            fileLabel1.textContent = 'O arrastra archivos aquí';
        }
    }

    const fileInput2 = document.getElementById('file-input-2');
    const fileLabel2 = document.getElementById('file-label-2');
    const customButton2 = document.getElementById('custom-button-2');

    fileInput2.addEventListener('change', handleFileSelect2);

    function handleFileSelect2() {
        const files = fileInput2.files;
        if (files.length > 0) {
            fileLabel2.textContent = files[0].name;
        } else {
            fileLabel2.textContent = 'O arrastra archivos aquí';
        }
    }

    function handleDragOver(event) {
        event.preventDefault();
        customButton1.classList.add('dragover');
        customButton2.classList.add('dragover');
    }

    function handleDragLeave() {
        customButton1.classList.remove('dragover');
        customButton2.classList.remove('dragover');
    }

    function handleDrop(event) {
        event.preventDefault();
        customButton1.classList.remove('dragover');
        customButton2.classList.remove('dragover');

        const files = event.dataTransfer.files;
        if (event.target.id === 'custom-button-1') {
            fileInput1.files = files;
            handleFileSelect1();
        } else if (event.target.id === 'custom-button-2') {
            fileInput2.files = files;
            handleFileSelect2();
        }
    }

    function verificarAcepto() {
        var checkbox = document.getElementById("acepto");
        var enviarBoton = document.getElementById("enviarBoton");

        if (checkbox.checked) {
            // La casilla está marcada, permite al usuario presionar el botón
            enviarBoton.disabled = false;
            enviarBoton.classList.remove("boton-deshabilitado");
        } else {
            // La casilla no está marcada, evita que el usuario presione el botón
            enviarBoton.disabled = true;
            enviarBoton.classList.add("boton-deshabilitado");
        }
    }
    </script>

</body>
</html>