<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de donaciones UABC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="signin.css">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
        }
        header {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff; /* Color de fondo del encabezado */
        padding: 18px;
        color: #385835; /* Color del texto en el encabezado */
        }
        #logo h2 {
            font-weight: bold;
            text-shadow: 1px 1px 1px #000; /* Define la sombra: desplazamiento horizontal, desplazamiento vertical, difuminación y color */
        }
        #menu ul {
            list-style: none;
            display: flex;
        }
        #menu li {
            margin-right: 20px;
        }
        #menu a {
            text-decoration: none;
            color: #385835; /* Color de los enlaces */
        }

        #inicio {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -1; /* Cambia el valor de z-index a -1 para que la imagen de fondo esté detrás del contenido */
        }

        #inicio img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ajusta la imagen de fondo para cubrir el contenedor */
            filter: brightness(0.5);
        }

        #inicio::before {
            content: "Apoya a computación";
            text-shadow: 1px 1px 1px #000;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 50px; /* Ajusta el tamaño de fuente según tu preferencia */
            text-align: center;
            font-weight: bold;
            z-index: 1; /* Asegúrate de que el texto esté por encima de la imagen */
        }

        #acerca {
            background-color: #22461f;
            color: #ffffff;
            padding: 80px;
        }

        /* Estilos para el contenedor principal */
        .acerca-contenido {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* Estilos para la imagen a la derecha */
        .acerca-imagen {
            display: flex;
            text-align: right;
            padding: 35px;
        }

        #donacion {
            background-color: #ffffff; /* Color de fondo del encabezado */
            color: #22461f; /* Color del texto en el encabezado */
            margin-top: 80px;
        }

        footer {
            background-color: #22461f; /* Color de fondo del encabezado */
            padding: 18px;
            color: #ffffff; /* Color del texto en el encabezado */
            margin-top: 20px; /* Agrega margen superior para separarlo de la imagen */
            text-align: center;
        }
        
    </style>
</head>
<body>
  <header>
    <div id="logo">
      <h2>UABC</h2>
    </div>
    <nav id="menu">
      <ul>
        <li><a href="#inicio">INICIO</a></li>
        <li><a href="#acerca">ACERCA DE</a></li>
        <li><a href="#donacion">HAZ UNA DONACIÓN</a></li>
      </ul>
    </nav>
  </header>

  <section id="inicio">
    <img src="https://lh7-us.googleusercontent.com/cPjY7_P62QsNOyz_84eaUJKLqBJIQ10l2RA2tpHPGa0x4f3QSBcdxOr6OjUSCvMlL4UJshoN5LHJMtiHVaZV2xxh4N6PNuqan6WkoEqOySqI8IeralW87ZSY7Pd-HMZXM_7qXh2y2Suvb9xUqiMyfy4" alt="Imagen de inicio">
  </section>

  <section id="acerca">
      <div class="acerca-contenido">
          <div class="acerca-texto">
              <h1><strong>ACERCA DE</strong></h1>
              <hr style="width: 100px; border: 3px solid #fff; margin-left: 0px;"> <!-- Línea separadora horizontal -->
              <h5><br>¡Bienvenido a Donaciones UABC! <br><br>Página diseñada especialmente para brindar apoyo esencial a los estudiantes de computación para proporcionarles los recursos necesarios para sobresalir en sus estudios y mejorar el ambiente, aprender y alcanzar su máximo potencial en la tecnología.</h5>
          </div>
          <div class="acerca-imagen">
              <img src="https://lh7-us.googleusercontent.com/62xdmoLY5Qtd820jv4esO1PaqqaYuWcCrALm9Kz3XKrBbfrDdxalCmeM02WsCXPfkk7-3LCIbCbm_gEtH51VgiaIKSr3eFYUXiOCmY_8sJhFHg6fKE7vu5eDah2MtrX1CCmX6zhG8EuDmMHIPAesTKI" width="451" height="375">
          </div>
      </div>
  </section>

  <section id="donacion">
      <div>
          <h1 style="text-align: center;"><strong>HAZ UNA DONACIÓN</strong></h1>
          <hr style="width: 100px; border: 3px solid #eaf5e9;"> <!-- Línea separadora horizontal -->
      </div>
        <div style="display: flex; padding: 60px;">
        <div style="flex: 1;">
            <h5><br>Con tu apoyo, podemos proporcionar los recursos esenciales, materiales, instalaciones y equipos de alta calidad. Tu apoyo transforma el futuro de estudiantes. Únete a nosotros y marca la diferencia hoy.<br><br></h5>
            <img src="https://lh7-us.googleusercontent.com/EP6yl2lIeNqPxXhIB54k202eGevj3Zl_UPCV8lWhD11nMS1Cjk5HWdfZ-DSfQxkNWsquSdTktoaeFzJSI0x7ehaNoIHWkWpm398MRTSdLBfrNjBxrFcXTh_rDCb_8SWs54z6zoit3i-BJP4_UBTs2tk" style="display: block; margin: 0 auto;" width="451" height="375">
        </div>
        <div style="flex: 1; background-color: #22461f; text-align: center; padding: 18px; color: #ffffff; border-radius: 20px; display: flex; flex-direction: column; justify-content: center; text-shadow: 1px 1px 1px #000">
            <h2><strong>Monto de donación</strong></h2>
            
                <a href="/login">
                    <button style="background-color: #febe10; border-radius: 20px; margin-top: 30px; padding: 12px; color: #FFF; width: 60%; font-size: 23px; font-weight: bold; text-shadow: 1px 1px 1px #000;border: 0px solid #ff0000;">DONA AHORA</button>
                </a>
            
        </div>
      </div>
    </section>


  <footer>
      <p>&copy; 2023 All rights reserved - UABC</p>
  </footer>

</body>
</html>