<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de donaciones UABC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="signin.css">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
        }

        header {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 18px;
        color: #385835; 
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
        z-index: 10;
        }

        #logo h2 {
            font-weight: bold;
            text-shadow: 1px 1px 1px #000; /* Define la sombra: desplazamiento horizontal, desplazamiento vertical, difuminación y color */
            color: #385835;
        }
        #menu ul {
            list-style: none;
            display: flex;
        }
        #menu li {
            margin-right: 20px;
        }
        #menu a {
            text-decoration: none;
            color: #385835;
        }

        #inicio {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        #acerca {
            background-color: #22461f;
            color: #ffffff;
            padding: 80px;
        }

        .acerca-contenido {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .acerca-imagen {
            display: flex;
            text-align: right;
            padding: 35px;
        }

        #donacion {
            background-color: #ffffff; /* Color de fondo del encabezado */
            color: #22461f; /* Color del texto en el encabezado */
            margin-top: 80px;
        }

        footer {
            background-color: #22461f; /* Color de fondo del encabezado */
            padding: 18px;
            color: #ffffff; /* Color del texto en el encabezado */
            margin-top: 20px; /* Agrega margen superior para separarlo de la imagen */
            text-align: center;
        }
    </style>
</head>
<body>

  <header>
    <div style="display: flex;">
    <img src="https://lh7-us.googleusercontent.com/hzDuv_OleoVquRLfJpXKKm2fCDjPydMRPv3DNZkU_AZdMdsUxabV9mP4C7qr1xqBlo4cJSok-oZap6HRD9tyqNb7-oXEJkzcO3BT00PtTxGzX6RJ3E7rxHrMsrJY4i9eKuRuo_jszT88IsaQ09d9erU" width="34" height="45" />
    <a href="/#inicio" style="text-decoration: none; margin-left: 10px;" id="logo">
        <h2>UABC</h2>
    </a>
    </div>
    <nav id="menu">
      <ul>
        <li><a href="#inicio">INICIO</a></li>
        <li><a href="#acerca">ACERCA DE</a></li>
        <li><a href="#donacion">HAZ UNA DONACIÓN</a></li>
      </ul>
    </nav>
  </header>

<section id="inicio" style="position: relative; text-align: center;">
    <img src="https://lh7-us.googleusercontent.com/cPjY7_P62QsNOyz_84eaUJKLqBJIQ10l2RA2tpHPGa0x4f3QSBcdxOr6OjUSCvMlL4UJshoN5LHJMtiHVaZV2xxh4N6PNuqan6WkoEqOySqI8IeralW87ZSY7Pd-HMZXM_7qXh2y2Suvb9xUqiMyfy4" style="width: 100%; height: 100%; filter: brightness(0.5); z-index: -1;"/>
    <div style="position: absolute; top: 65%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
        <p style="text-shadow: 1px 1px 1px #000; color: white; font-size: 50px; font-weight: bold;">Apoya a computación</p>
        <a href="/login">
            <button style="background-color: #febe10; border-radius: 20px; padding: 12px 30px; color: #FFF; font-size: 23px; font-weight: bold; text-shadow: 1px 1px 1px #000; border: none;width: 70%;">DONA AHORA</button>
        </a>
    </div>
</section>

  <section id="acerca">
      <div class="acerca-contenido">
          <div class="acerca-texto">
              <h1><strong>ACERCA DE</strong></h1>
              <hr style="width: 100px; border: 3px solid #fff; margin-left: 0px;"> <!-- Línea separadora horizontal -->
              <h5><br>¡Bienvenido a Donaciones UABC! <br><br>Página diseñada especialmente para brindar apoyo esencial a los estudiantes de computación para proporcionarles los recursos necesarios para sobresalir en sus estudios y mejorar el ambiente, aprender y alcanzar su máximo potencial en la tecnología.</h5>
          </div>
          <div class="acerca-imagen">
              <img src="https://lh7-us.googleusercontent.com/62xdmoLY5Qtd820jv4esO1PaqqaYuWcCrALm9Kz3XKrBbfrDdxalCmeM02WsCXPfkk7-3LCIbCbm_gEtH51VgiaIKSr3eFYUXiOCmY_8sJhFHg6fKE7vu5eDah2MtrX1CCmX6zhG8EuDmMHIPAesTKI" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)" width="451" height="375">
          </div>
      </div>
  </section>

<section id="donacion">
    <div style="text-align: center;">
        <h1><strong>HAZ UNA DONACIÓN</strong></h1>
        <hr style="width: 100px; border: 3px solid #eaf5e9;">
    </div>

    <div style="display: flex; justify-content: center; padding: 60px;">
        <div style="flex: 1;  margin-left: 70px;">
            <img src="https://lh7-us.googleusercontent.com/EP6yl2lIeNqPxXhIB54k202eGevj3Zl_UPCV8lWhD11nMS1Cjk5HWdfZ-DSfQxkNWsquSdTktoaeFzJSI0x7ehaNoIHWkWpm398MRTSdLBfrNjBxrFcXTh_rDCb_8SWs54z6zoit3i-BJP4_UBTs2tk" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)"width="421" height="355">
        </div>
        <div style="flex: 1; text-align: center; margin-right: 70px;">
            <h5 style="margin-bottom: 80px;">Con tu apoyo, podemos proporcionar los recursos esenciales, materiales, instalaciones y equipos de alta calidad. Tu apoyo transforma el futuro de estudiantes. Únete a nosotros y marca la diferencia hoy.</h5>
        <a href="/login">
            <button style="background-color: #febe10; border-radius: 20px; padding: 12px 30px; color: #FFF; font-size: 23px; font-weight: bold; text-shadow: 1px 1px 1px #000; border: none; width: 60%;">DONA AHORA</button>
        </a>
        </div>
    </div>
</section>

<footer>
    <p>&copy; 2023 All rights reserved - UABC</p>
</footer>

</body>
</html>