<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de donaciones UABC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="signin.css">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
        }

        header {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 18px;
        color: #385835; 
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
        z-index: 10;
        }
        #logo h2 {
            font-weight: bold;
            text-shadow: 1px 1px 1px #000; /* Define la sombra: desplazamiento horizontal, desplazamiento vertical, difuminación y color */
            color: #385835;
           }
        #menu ul {
            list-style: none;
            display: flex;
        }
        #menu li {
            margin-right: 20px;
        }
        #menu a {
            text-decoration: none;
            color: #385835; /* Color de los enlaces */
        }

        footer {
            background-color: #22461f; /* Color de fondo del encabezado */
            padding: 20px;
            color: #ffffff; /* Color del texto en el encabezado */
            text-align: center;
        }
    </style>
</head>
<body>
  <header>
    <div style="display: flex;">
    <img src="https://lh7-us.googleusercontent.com/hzDuv_OleoVquRLfJpXKKm2fCDjPydMRPv3DNZkU_AZdMdsUxabV9mP4C7qr1xqBlo4cJSok-oZap6HRD9tyqNb7-oXEJkzcO3BT00PtTxGzX6RJ3E7rxHrMsrJY4i9eKuRuo_jszT88IsaQ09d9erU" width="34" height="45" />
    <a href="/#inicio" style="text-decoration: none; margin-left: 10px;" id="logo">
        <h2>UABC</h2>
    </a>
    </div>
    <nav id="menu">
      <ul>
        <li><a href="/#inicio">INICIO</a></li>
        <li><a href="/#acerca">ACERCA DE</a></li>
        <li><a href="/#donacion">HAZ UNA DONACIÓN</a></li>
      </ul>
    </nav>
  </header>
  
    <div style="background-image: url('https://lh7-us.googleusercontent.com/GGIqYNad1JLTsXi3x2Ru-kSZvoYBMBPxJOLPlg-19bVPRVZmL8TpskFtjqSJ6okQifLq9QI1QRjP79y1-TQasrfiXG5IDZ8GxTLe6Z2dzR7cIbLRiFMzkDmOy41l75V8JkG6rl2YWCghtcFedC_TkKw'); background-repeat: repeat; background-color: #d6e3d5; padding: 100px;">
        <div style="display: flex; justify-content: center; margin-top: 50px; ">
                <div style="background-color: #22461f; text-align: center; padding: 18px; color: #ffffff; border-radius: 20px; width: 50%; text-shadow: 1px 1px 1px #000; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)">
                    <h2><strong>Regístrate</strong></h2>

                    <form id="registro-form">

                        <input style="border-radius: 5px; margin-top: 30px; padding: 10px; width: 80%;" type="text" id="nombre" name="nombre" placeholder="Nombre completo" required>
                        
                        <br>
                        
                        <input style="border-radius: 5px; margin-top: 20px; padding: 10px; width: 80%;" type="email" id="email" name="email" placeholder="nombre@dominio.com" required>
                        
                        <br>
                        
                        <input style="border-radius: 5px; margin-top: 20px; padding: 10px; width: 80%;" type="password" id="password" name="password" placeholder="Contraseña" required>
                        
                        <br>

                        <button style="background-color: #febe10; border-radius: 20px; margin-top: 30px; padding: 12px; color: #FFF; width: 60%; font-size: 23px; font-weight: bold; text-shadow: 1px 1px 1px #000;border: 0px solid #ff0000;">Registrate</button>
                    </form>
                </div>
            </div>
    </div>

  <footer>
      <p>&copy; 2023 All rights reserved - UABC</p>
  </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script>
        // Validación registro
        $('#registro-form').on('submit', function () {
            fetch('http://localhost:3001/usuario/crear', {
                method: 'POST',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({
                    nombre: $('#nombre').val(),
                    email: $('#email').val(),
                    password: $('#password').val()
                })
            })
            .then(response => response.json())
            .then(usuarioCreado => {
                if (usuarioCreado) {
                    alert('Registro exitoso. Ahora puede iniciar sesión');
                    window.location.replace("http://localhost:3000/login");
                }
                else {
                    alert('Ha sucedido un error al registrarse');
                }
            }); 

            return false;

        });
    </script>
</body>
</html>